# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
*.ipynb_kernel.json

# Data (ignore raw CSVs but allow DVC files)
data/
!data/*.dvc
!data/.gitkeep

# Logs
logs/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
